.navbar{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 0px;
}

.navbarli img{
    width: 100px;
}
.midnavbar{
    display: flex;
    list-style-type: none;
}

.midnavbar li a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(240, 0, 168);
    margin: 10px;

}
.registration{
    text-decoration:none ;
    border: 2px solid rgb(32, 32, 72);
    background-color:rgb(32, 32, 72) ;
    color: white;
    padding: 10px;
    border-radius:20px ;
    /*border-radius: 50px' */
    /* condition width = height */
}

.registration1{
    text-decoration:none ;
    border: 2px solid rgb(255, 255, 255);
    background-color:rgb(126, 0, 59) ;
    color: white;
    padding: 10px;
    border-radius:20px ;
    /*border-radius: 50px' */
    /* condition width = height */
}

.hero{
    display: flex;
    justify-content: space-evenly;
    background-image: url('./santa.png');
    background-repeat: no-repeat;
    padding: 250px;
    
    
}

.herodiv1{
    padding-top: 100px;
    padding: 50px;
}

.hd1{
    font-family: "Times New Roman", Times, serif;
    color: rgba(249, 245, 255, 0.938);
    font-size: 64px;
    font-weight: bolder;
    
    
}

.hd2{
    color: rgb(54, 245, 6);
    font-size: 38px;
    margin-left: 40px;
    font-weight: bolder;
   
   
}

.herodiv2 img{
    width:300px;
}
.say{
    text-decoration:none ;
    border: 2px solid rgb(32, 32, 72);
    background-color:rgb(12, 188, 194) ;
    color: rgb(135, 113, 175);
    padding: 10px;
    font-size: 24px ;
    margin-right: 20px;
}

.icons a i{
    font-size: 32px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    
}
.icons {
    padding-top: 100px;
}

.Clients{
    background-image: url('./white.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.my{
    font-family: "Bebas Neue", sans-serif;
   font-weight: 600;
   font-style: normal;
}

.my::after{
    content: "----------";
}

.my::before{
    content: "----------";
}
.dedication{
    background-image: url('./civic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.skills{
    position: relative;
    top: 400px;
}
.skillsdiv2 div{
    border: 2px solid rgb(36, 36, 55);
    background-color: white;
    color: rgb(36, 36, 55);
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

.dd1 img{
    margin-top: -30px;
}
.hd2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  
}

.dedication2{
    
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
      
}
.i1{
    padding-left: 100px;
}
.i2{
    margin-top: -300px;
    padding-left: 1100px;
}
.i3{
    margin-top: 200px;
    padding-left: 100px;
}
.i4{
    margin-top: -230px;
    padding-left: 1100px;
}
.dedication1{
    padding-left: 100px;

}
.id1{
    padding-left: 100px;
}
.id2{
    margin-top: -250px;
    padding-left: 1100px;
}
.id3{
    margin-top: 250px;
    padding-left: 150px;
}
.id4{
    margin-top: -200px;
    padding-left: 1000px;
}
.q1{
    margin-top: -20px;
    padding-left: 70px;
}
.q2{
    margin-top: -50px;
    padding-left: 40px;
}
.q3{
    margin-top: -40px;
    padding-left: 50px;
}
.q4{
    margin-top: -20px;
    padding-left: 60px;
}
.idd1{
    margin-top: -10px;
    padding-left: 50px;
}
.idd2{
    margin-top: -10px;
    padding-left: 20px;
}
.idd3{
    margin-top: -10px;
    padding-left: -30px;
}
.idd4{
    margin-top: -10px;
    padding-left: -20px;
}


